/* Variables de colores */
:root {
    /*Fondo*/
    --color-bg: #CBFFAA;
    --color-fnt: #3F523C;
    --btn-aceptar: #3a8a52;
    --btn-cancelar: #F22828;    
}

* {
    font-family: monospace;
    color: var(--color-fnt);
}

body {
    background-color: var(--color-bg);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    height: 90vh;
}

.titulo {
    font-size: 60px;
}

.subtitulo {
    font-size: 50px;
    margin-top: -5px;
}

.tipos-ingreso {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.google, .registro {
    width: 20.5rem;
    height: 3rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.google .img-google {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.google:hover {
    cursor: pointer;
}

.registro:hover {
    cursor: pointer;
}

.contenedor-inputs {
    height: 25%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-size: 2rem;
}

.input {
    width: 75%;
    height: 2rem;
    font-size: 1em;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid #000;
}

.btn-ingresar {
    width: 20%;
    font-size:1.7rem;
    height: 2.7rem;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}


a {
    text-decoration: none;
}
/*
@media screen and (max-width: 1050px) {
    
}

*/